<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Objetos" stopProcessing="true">
                    <match url="^producto/([^/]*)/?" />
                    <action type="Rewrite" url="producto.php?tour={R:1}" />
                </rule>
                <rule name="Productos" stopProcessing="true">
                    <match url="^novedades/([^/]*)/?" />
                    <action type="Rewrite" url="blog.php?blog={R:1}" />
                </rule>
                <rule name="Expe" stopProcessing="true">
                    <match url="^experiencia/([^/]*)/?" />
                    <action type="Rewrite" url="experiencia.php?experiencia={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
